__pycache__/
*.pyc
cultist_adviser/lexicon_cache.json
cultist_adviser/knowledge_cache.json
cultist_adviser/logs/
cultist_adviser/settings.json
build/
dist/
release/
*.spec
*.egg-info/
cultist_adviser/save_backups/
cultist_adviser/lexicon_cache_bundled.json
cultist_adviser/knowledge_cache_bundled.json
